<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Index_Servlet</servlet-name>
        <servlet-class>Controller.Index_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_Servlet</servlet-name>
        <servlet-class>Controller.Login_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration_Servlet</servlet-name>
        <servlet-class>Controller.Registration_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Retailer_InventoryManagement_Servlet</servlet-name>
        <servlet-class>Controller.Retailer_InventoryManagement_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Charity_Servlet</servlet-name>
        <servlet-class>Controller.Charity_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consumer_Servlet</servlet-name>
        <servlet-class>Controller.Consumer_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Subscription_Servlet</servlet-name>
        <servlet-class>Controller.Subscription_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateItem_Servlet</servlet-name>
        <servlet-class>Controller.UpdateInventory_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SurplusItems_Servlet</servlet-name>
        <servlet-class>Controller.SurplusItems_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MySubscription_Servlet</servlet-name>
        <servlet-class>Controller.MySubscription_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index_Servlet</servlet-name>
        <url-pattern>/Index_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_Servlet</servlet-name>
        <url-pattern>/Login_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration_Servlet</servlet-name>
        <url-pattern>/Registration_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Retailer_InventoryManagement_Servlet</servlet-name>
        <url-pattern>/Retailer_InventoryManagement_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Charity_Servlet</servlet-name>
        <url-pattern>/Charity_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consumer_Servlet</servlet-name>
        <url-pattern>/Consumer_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Subscription_Servlet</servlet-name>
        <url-pattern>/Subscription_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateItem_Servlet</servlet-name>
        <url-pattern>/UpdateItem_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SurplusItems_Servlet</servlet-name>
        <url-pattern>/SurplusItems_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MySubscription_Servlet</servlet-name>
        <url-pattern>/MySubscription_Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
